<!doctype html>
<html>

<head>
    <title>Authentication</title>
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- load fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1><span class="fa fa-briefcase"></span>Job Central</h1>

            <p>Login or Register with:</p>
            
            <a href="/profile" class="btn btn-default"><span class="fa fa-user-o"></span>Profile</a>
            <a href="/login" class="btn btn-default"><span class="fa fa-user-o"></span> Local Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user-o"></span> Local Signup</a>            
        </div>

               
        <div class="row">

            <!-- LOCAL INFORMATION -->
            <% if(candidate){ %>
            <% candidate.forEach(function(doc){ %>
   
            <div class="col-sm-6">
                <div class="well">
                    <h3><span class="fa fa-user-circle"></span> <%= doc.Name %> </h3>
                      <p>
                        <strong>FirstName</strong>:
                        <%= doc.Firstname %><br>
                            <strong>LastName</strong>:
                            <%= doc.Lastname %><br>
                                <strong>Student ID</strong>:
                                <%= doc.StudentID %><br>
                                    <strong>Faculty</strong>:
                                    <%= doc.Faculty %><br>
                                        <strong>Major</strong>:
                                        <%= doc.Major %><br>
                                            <strong>Telephone</strong>:
                                            <%= doc.Telephone %><br>
                                                <strong>Facebook</strong>:
                                                <%= doc.Facebook %><br>                                                   
                                
                     </p>
                     <a href='#' class="btn btn-success">Accept</a>
                     <a href='#' class="btn btn-danger">Denied</a>                    
                </div>
            </div>
            <% }) %>
            <% } %>  
        </div>


    </div>
</body>

</html>