<!doctype html>
<html>

<head>
    <title>Authentication</title>
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- load fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1><span class="fa fa-briefcase"></span>Job Central</h1>

            <p>Login or Register with:</p>
            
            <a href="/profile" class="btn btn-default"><span class="fa fa-user-o"></span>Profile</a>
            <a href="/login" class="btn btn-default"><span class="fa fa-user-o"></span> Local Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user-o"></span> Local Signup</a>            
        </div>

        <form action="/search" method="GET">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="">ค้นหางาน</label>
                <input type="text" class="form-control" name="SearchJob">
              </div>
              <div class="form-group col-md-6">
                <label for="">ค้นหาสถานที่</label>
               <select class="form-control" name="SearchPlace">
                        <option>เลือกสถานที่</option>
                        <option>คณะวิศวกรรมศาสตร์</option>
                        <option>คณะสถาปัตยกรรมศาสตร์</option>
                        <option></option>
                        <option></option>
                        <option></option>
                </select>
              </div>              
                <button type="submit" class="btn btn-danger mb-2">Find</button>
            </div>
        </form>        
        
        
        <div class="row">

            <!-- LOCAL INFORMATION -->
            <% if(post){ %>
            <% post.forEach(function(doc){ %>
   
            <div class="col-sm-6">
                <div class="well">
                    <h3><span class="fa fa-user-circle"></span> <%= doc.Name %> </h3>
                      <p>
                        <strong>Owner</strong>:
                        <%= doc.Owner %><br>
                            <strong>Type</strong>:
                            <%= doc.Type %><br>
                                <strong>Require</strong>:
                                <%= doc.Require %><br>
                                    <strong>Place</strong>:
                                    <%= doc.Place %><br>
                                        <strong>Time</strong>:
                                        <%= doc.Time %><br>
                                            <strong>Money</strong>:
                                            <%= doc.Money %><br>
                                                <strong>People</strong>:
                                                <%= doc.People %><br>
                                                    <strong>Detail</strong>:
                                                    <%= doc.Detail %><br>
                                
                     </p>
                     <button type="submit" class="btn btn-danger">Like</button>
                     <a href=  '/detail/<%= doc._id %>' class="btn btn-primary">Detail</a>
                     <a href=  '/applyjob/<%= doc._id %>' class="btn btn-primary">Apply Now</a>                    
                </div>
            </div>
            <% }) %>
            <% } %>  
        </div>


    </div>
</body>

</html>